* {
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

.App {
	min-height: 100vh;
	min-width: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: aquamarine; */
}

.Header {
	min-height: calc(0.1 * 100vh);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
}

.Header h1 {
	font-size: xx-large;
}
.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TaskForm {
	/* background-color: red; */
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: 100%;
}

.NewTaskForm {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	justify-content: center;
	align-items: center;
}

.TaskForm button {
	border: 1px solid #acacac;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
}

/* TODO: When clicking on New Task, the button should not resize */
.NewTaskFormButton {
	width: calc(0.5 * 100%);
}

.NewTaskForm label {
	font-size: large;
}

.NewTaskForm input {
	height: 30px;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
	font-style: inherit;
	padding: 5px;
}

.NewTaskForm .container {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.TaskList {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	justify-content: center;
	align-items: flex-start;
}

.Task {
	list-style: none;
	font-size: large;
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 20px;
	padding: 10px 10px;
	align-items: center;
	border: 1px solid #cdcdcd;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
	border-radius: 10px;
}

.Task div:first-child {
	flex: 0 0 70%;
}

.Controls {
	display: flex;
	flex: 0 0 30%;
	justify-content: flex-end;
	gap: 10px;
}

.Footer {
	/* background-color: red; */
	min-height: calc(0.05 * 100vh);
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
	font-size: large;
	margin-top: auto;
}

.Footer .copyright-icon {
	padding: 3px;
}

.Footer a {
	text-decoration: underline;
	color: #181818;
}
